<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<script>
		var host = 'http://localhost:8000';
		function intraLogin(login) {
			console.log(login);
			if (!login) return;
			fetch(host + '/api/v1/intra/login?login=' + login)
			.then(res => console.log(res));
		}
	</script>
	<input type="text" id="login" placeholder="login">
	<input type="submit" value="Login" onclick="intraLogin(document.getElementById('login').value)">
</body>
</html>
