<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>
<body>
	<p>test</p>
	<input type="text" id="login_input" placeholder="Intra login">
	<input type="submit" value="login" onclick="getUserInfoByLogin()">
	<script>
		let code = window.location.search.split('=')[1];
		function getUserInfoByLogin() {
			let login = document.getElementById('login_input').value;
			fetch("http://localhost:8000/api/v1/auth/intra/login/",
				{
					method: 'GET',
					headers: {
						'login': login,
						'code': code,
						'Content-Type': 'application/json',
						'Accept': 'application/json',
					},
				}
			)
			.then(response => response.json())
			.then(data => console.log(data))
			.catch(error => console.log(error));
		}
	</script>
</body>
</html>
