* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Font';
  src: url('font/SourceCodePro-Italic-VariableFont_wght.ttf') format('woff2');
  src: url('font/SourceCodePro-VariableFont_wght.ttf') format('woff2');
  
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Source Code Pro', monospace;
    font-size: 100%;
    height: 100%;
}

.hero {
    background-color: #fefae9;
    background-image: url('/src/static/re2.jpg'); /* Путь к вашей картинке */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 93vh;
    display: flex;
    justify-content: space-around;
    align-items: center;

    animation: spin 4s infinite;
}

.w-30 {
    width: 30%;
}

.padding-2 {
    padding: 0.5rem!important;
}
@media screen and (max-width: 391px) {
    .padding-2 {
        padding: 0!important;
    }
  
}

.btn-primary {
  background: #FE638B;
  border: none;
  color: #041b29;
  font-weight: bold;
  transition: 0.3s;
}

.btn-primary:hover {
  background: #069E92;
  color: #041b29;
}

.btn-primary:active {
  background: #041b29 !important; 
  color: #ffffff !important;
}
  
button {
    font-family: 'Font', sans-serif;
    font-size: 100%;
    border: none;
    padding: 0.3rem;
    cursor: pointer;
    transition: 0.3s;
    background: none;
}

.button_menu {
    border: none;
    color: #ffffff;
    
}

.button_menu:hover {
  transform: translateY(-3px);
  transition: 0.3s;
}

.button_text {
    font-size: 2rem;
    color: #041b29;
    font-weight: bold;
    transition: color 0.2s;
}

.button_text:hover {
  color: #069E92;
  text-shadow: 1px 1px 1px #041b29;
}

.button_text:active {
  transition: color 0s;
  color: #FE638B;
  text-shadow: 1px 1px 1px #041b29;

}

.logo {
  justify-content: center;
}

.logo_text {
  font-size: 2rem;
  color: #069E92;
  font-weight: bold;
  text-decoration: none;
}

.nav_bar {
  background: #041b29;
  height: 7vh;
  display: flex;
  align-items: center;
}

.img_logo {
  width: 40vw;
}
@media screen and (max-width: 768px) {
  .img_logo {
    width: 50vw;
  }
}
@media screen and (max-width: 576px) {
  .img_logo {
    width: 60vw;
  }
  
}

.logo_text_menu {
  font-size: 2rem;
  color: #041b29;
  font-weight: bold;
}

.game {
  background: #FCCA45;
  height: 93vh;
}

.modal-content {
  background: #041b29;
  color: #069E92;
}

.modal-title {
  color: #FE638B;
}

.modal-header {
  border-bottom: none;
}

.modal-footer {
  border-top: none;
}

.btn-close {
  --bs-btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23FE638B'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414z'/%3e%3c/svg%3e");
  --bs-btn-close-opacity: 1;
}

.img_modal {
  width: 40%;
}

.volume_box {
  background: #041b29;
  border-radius: 5px;
  width: 100%;
  height: 0.5rem;
  align-items: center;
  cursor: pointer;
  padding: 0;
  .volume {
    background: #069E92;
    height: 0.5rem;
  }
}

.button_volume {
  font-size: 2rem;
  color: #041b29;
  font-weight: bold;
}
